<ion-header>
  <ion-toolbar>
    <ion-title>Registracija</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Lozinka</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <p *ngIf="errorMessage" style="color: red; padding: 0 16px;">{{ errorMessage }}</p>

  <ion-button expand="block" (click)="register()" style="margin-top: 16px;">
    Registruj se
  </ion-button>

  <ion-button expand="block" fill="clear" (click)="goToLogin()">
    Već imate nalog? Prijavite se
  </ion-button>
</ion-content>
